# Missing Data
At times you will find no data stored in the variable of observation. This kind of missing data is then referred to as "Missing Data" or "Missing value"

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,np.nan]})

In [ ]:
df

     A    B    C
0  1.0  5.0  1.0
1  2.0  NaN  2.0
2  NaN  NaN  NaN

##### isnull() function
The isnull() function detects missing values and returns a boolean. This boolean indicates whether or not there is a missing value.

In [ ]:
df.isnull()

       A      B      C
0  False  False  False
1  False   True  False
2   True   True   True

In [ ]:
df.isnull().sum()

A    1
B    2
C    1
dtype: int64

In [ ]:
pd.isnull(df['A'])

0    False
1    False
2     True
Name: A, dtype: bool

##### notnull() function
The notnull() function works just like the isnull() function. The only difference is that the value of the boolean is given in reverse, meaning that "True" will be returned when there is a value and "False" will be returned when there is a missing value.

In [ ]:
df.notnull()

       A      B      C
0   True   True   True
1   True  False   True
2  False  False  False

In [ ]:

pd.isnull(df['A'])

0    False
1    False
2     True
Name: A, dtype: bool

#### dropna() function
The dropna() function is used to remove the missing values

In [ ]:

df.dropna()

     A    B    C
0  1.0  5.0  1.0

In [ ]:
df

     A    B    C
0  1.0  5.0  1.0
1  2.0  NaN  2.0
2  NaN  NaN  NaN

In [ ]:
df.dropna(how='all')

     A    B    C
0  1.0  5.0  1.0
1  2.0  NaN  2.0

##### fillna()  and replace() funcation
The fillna() function fills every missing value with another one.

In [ ]:
df.fillna(value='Fil Value')

           A          B          C
0        1.0        5.0        1.0
1        2.0  Fil Value        2.0
2  Fil Value  Fil Value  Fil Value

In [ ]:
df.fillna(value='Null Value')

            A           B           C
0         1.0         5.0         1.0
1         2.0  Null Value         2.0
2  Null Value  Null Value  Null Value

In [ ]:
df.fillna(0)

     A    B    C
0  1.0  5.0  1.0
1  2.0  0.0  2.0
2  0.0  0.0  0.0

In [ ]:
df

     A    B    C
0  1.0  5.0  1.0
1  2.0  NaN  2.0
2  NaN  NaN  NaN

In [ ]:
df.fillna(0, inplace = True)

In [ ]:
df

     A    B    C
0  1.0  5.0  1.0
1  2.0  0.0  2.0
2  0.0  0.0  0.0

In [ ]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    0.0
Name: A, dtype: float64

In [ ]:

## if inplace na ditam

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64